*{
  font-family: 'Viaoda Libre', cursive;
}
.navbar{
  background-color: black;
  opacity: 80%;
  width: 100%;
}
.bg-overlay {
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 830px;
    z-index: -2;
}
.display-3, .display-7{
  padding-top: 150px;
}
li a:hover{
  color: violet !important;
  font-size: 25px;
}
li a{
  font-size: 20px;
}
.logo{
  width: 300px;
}
.row1{
  padding-top: 50px;
}
.about{
  background-color: black;
  height: 750px;

}
.about1{
  color: white;
  font-size: 20px;
  padding-top: 70px;
  text-align: center;
  line-height: 1.6;
}
.btn{
  position: relative;
}
.aboutImg{
  width: 125px;
  display: flex;
  margin:auto;
  margin-top: 30px;
}
.pro{
  background-color: #d7d9db;
  height:100%;
  padding-top: 70px;
  padding-bottom: 50px;
}
/*bars*/
.bar-holder {
  width: 60%;
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 0 auto;
}
.bar-1 {
  width: 80%;
  color: black;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  background-color:#ffb48f;
}
.bar-2 {
  width: 60%;
  color: black;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  background-color:#fff2ab;
}
.bar-3 {
  width: 65%;
  color: black;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  background-color: #6195e8;
}
.skillP{
  margin-top: 10px;
  line-height: 1.6;
}
/*WORK SECTION*/
.workImage{

}
.workSection{
  height: 700px;
  padding-top: 80px;
  background-color: #be9df5;
}
.workCol{
  text-align: center;
}
/*CAROUSEL*/
.carousel{
  height: 50%;
  width: 100%;
  background-color: black;
}
.carImg{
  height:50%;
}
.carCapt{
  color: white;
}
/*LINES*/
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 100%;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 7s 0s infinite;
          animation: drop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -25%;
}
.line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.line:nth-child(3) {
  margin-left: 25%;
}
.line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
/*lines end************/
